#**# Displaying first 20 rows of data**

In [ ]:
import pandas as pd

df = pd.read_csv('Precipitation _Report Jashore Station pre monsoon hot summer march2june 1992to2022.csv', skiprows = 2)

df.head(20)

    SL.          Station  Year  Month  Total Rainfall (mm)
0     1  Jessore (11407)  1992      1                    0
1     2  Jessore (11407)  1992      2                    0
2     3  Jessore (11407)  1992      3                    0
3     4  Jessore (11407)  1992      4                    1
4     5  Jessore (11407)  1992      5                  223
5     6  Jessore (11407)  1992      6                  303
6     7  Jessore (11407)  1992      7                  136
7     8  Jessore (11407)  1992      8                    0
8     9  Jessore (11407)  1992      9                    0
9    10  Jessore (11407)  1992     10                    0
10   11  Jessore (11407)  1992     11                    0
11   12  Jessore (11407)  1992     12                    0
12   13  Jessore (11407)  1993      1                    0
13   14  Jessore (11407)  1993      2                    0
14   15  Jessore (11407)  1993      3                  115
15   16  Jessore (11407)  1993      4                  147
16   17  Jessore (11407)  1993      5                  132
17   18  Jessore (11407)  1993      6                  437
18   19  Jessore (11407)  1993      7                   54
19   20  Jessore (11407)  1993      8                    0

#**# Displaying data types from the filtered dataset**

In [ ]:
filtered_df = df[(df['Month'] == 5) & (df['Year'].between(2012, 2022))]

data_types = filtered_df.dtypes
print(data_types)

SL.                     int64
Station                object
Year                    int64
Month                   int64
Total Rainfall (mm)     int64
dtype: object

#**# Filter the DataFrame for the month of May and the years 2012 to 2022**

In [ ]:

# Store the rainfall data in variables from 2018 to 2022
rainfall_2018 = filtered_df[filtered_df['Year'] == 2018]['Total Rainfall (mm)'].values[0]
rainfall_2019 = filtered_df[filtered_df['Year'] == 2019]['Total Rainfall (mm)'].values[0]
rainfall_2020 = filtered_df[filtered_df['Year'] == 2020]['Total Rainfall (mm)'].values[0]
rainfall_2021 = filtered_df[filtered_df['Year'] == 2021]['Total Rainfall (mm)'].values[0]
rainfall_2022 = filtered_df[filtered_df['Year'] == 2022]['Total Rainfall (mm)'].values[0]

print(f'Rainfall in May 2018: {rainfall_2018} mm')
print(f'Rainfall in May 2019: {rainfall_2019} mm')
print(f'Rainfall in May 2020: {rainfall_2020} mm')
print(f'Rainfall in May 2021: {rainfall_2021} mm')
print(f'Rainfall in May 2022: {rainfall_2022} mm')

Rainfall in May 2018: 148 mm
Rainfall in May 2019: 122 mm
Rainfall in May 2020: 251 mm
Rainfall in May 2021: 159 mm
Rainfall in May 2022: 182 mm

#**# Total and average rainfall in may from 2018 to 2022**

In [ ]:

import operator

total_rainfall = rainfall_2018 + rainfall_2019 + rainfall_2020 + rainfall_2021 + rainfall_2022
print('Total rainfall from 2018 to 2022 in May  = ', total_rainfall)

avg_rainfall =  operator.truediv(total_rainfall,5)
print('Average rainfall from 2018 to 2022 in May = ', avg_rainfall)

Total rainfall from 2018 to 2022 in May  =  862
Average rainfall from 2018 to 2022 in May =  172.4

#**# Average rainfall from 2012 to 2022**

In [ ]:

total_rainfall = sum(filtered_df['Total Rainfall (mm)'])

num_years = 2022 - 2012 + 1

average_rainfall = operator.truediv(total_rainfall, num_years)

print(f'Average rainfall from 2012 to 2022: {average_rainfall} mm/year')

Average rainfall from 2012 to 2022: 174.63636363636363 mm/year

#**# Below average rainfall in may from 2012 to 2022**

In [ ]:

below_avg_rainfall_years = filtered_df[operator.lt(filtered_df['Total Rainfall (mm)'],average_rainfall)]
print(below_avg_rainfall_years)

     SL.          Station  Year  Month  Total Rainfall (mm)
244  245  Jessore (11407)  2012      5                   36
268  269  Jessore (11407)  2014      5                  165
280  281  Jessore (11407)  2015      5                  125
316  317  Jessore (11407)  2018      5                  148
328  329  Jessore (11407)  2019      5                  122
352  353  Jessore (11407)  2021      5                  159

#**# Extreme rainfall years in may from 2012 to 2022**

In [ ]:

high_threshold = 220

extreme_rainfall_years = filtered_df[filtered_df['Total Rainfall (mm)'] > high_threshold]

print(extreme_rainfall_years)

     SL.          Station  Year  Month  Total Rainfall (mm)
256  257  Jessore (11407)  2013      5                  278
292  293  Jessore (11407)  2016      5                  269
340  341  Jessore (11407)  2020      5                  251

#**# Low rainfall years in may from 2012 to 2022**

In [ ]:
import numpy as np

# Filter the DataFrame for years with rainfall greater than 0 and less than 100
low_rainfall_years = filtered_df[np.logical_and(filtered_df['Total Rainfall (mm)'].gt(0), filtered_df['Total Rainfall (mm)'].lt(100))]
print(low_rainfall_years)

     SL.          Station  Year  Month  Total Rainfall (mm)
244  245  Jessore (11407)  2012      5                   36

#**# Highest rainfall in may from 2012 to 2022**

In [ ]:
# Compares each value in the 'Total Rainfall (mm)' column with the maximum value, resulting in a boolean mask indicating which rows have the maximum value

highest_rainfall_year = filtered_df[filtered_df['Total Rainfall (mm)'] == filtered_df['Total Rainfall (mm)'].max()]
print(highest_rainfall_year)

     SL.          Station  Year  Month  Total Rainfall (mm)
256  257  Jessore (11407)  2013      5                  278

#**# Lowest rainfall in may from 2012 to 2022**

In [ ]:
# Compares each value in the 'Total Rainfall (mm)' column with the minimum value, resulting in a boolean mask indicating which rows have the minimum value

lowest_rainfall_year = filtered_df[filtered_df['Total Rainfall (mm)'] == filtered_df['Total Rainfall (mm)'].min()]

print(lowest_rainfall_year)

     SL.          Station  Year  Month  Total Rainfall (mm)
244  245  Jessore (11407)  2012      5                   36